#app {
    height: 100%
}

/*slide carousel*/
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 50%;
    margin: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* category list */
.category-list{
    width:250px;
    height:100px;
    text-align:center;
    padding-top:1em;
    border-radius:0.75rem;
    font-size:1.75em;
    font-weight:bold;
}

.category-view-all{
    font-size:0.75rem;
    text-decoration: underline;
}

/* featured list */
.featured-slide {
    width: 100%;
    height: 400px;
    margin:auto;
}

.featured-swiper-list{
    padding:16px 14px;
    width: 75%;
}

.featured-slide img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0.75rem auto;
}

